.partTable{
  margin: auto;
  min-width: 85%;
}

th, td {
  padding: 1%;
  text-align: center;
  font-size: 135%;
}

h2 {
  text-align: center;
}

.centered{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin: auto;
}

.centeredItems{
  padding: 1%;
  margin: 0% 1% 0% 1%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredItemsFirst{
  @extend .centeredItems;
  flex-grow: 3;
}

.centeredItemsOthers{
  @extend .centeredItems;
  flex-grow: 2;
}

.centeredItemsOthers > button{//weird bug caused by flex-grow that makes the 2nd button bigger than the first
 padding: 7% 15% 7% 15%;
 flex-grow: 1;
 font-size: 135%
}

.searchInput{
  flex-grow: 1;
}

// mat-icon{
//   margin: 2%;
// }

mat-paginator{
  margin: auto;
  width: 85%;
}

.activityButtons{
  background-color: gray;
  font-size: 80%;
}

.centered > button:active {
  opacity: 0.5;
}