<p>room-form works!</p>

<form [formGroup]="roomForm" (ngSubmit)="addRoom()">
    <mat-form-field class="formItem">
                <mat-label>Name: </mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            
    <mat-form-field class="formItem">
        <mat-label>Description: </mat-label>
        <input matInput formControlName="description"/>
    </mat-form-field>

    <mat-form-field class="pictureSelector">
        <input matInput formControlName="pictureNumber" style="display:none"/>
        <mat-radio-group formControlName="pictureNumber">
            @for (picture of pictureList; track picture){
                <mat-label class="pictureItem">
                    <mat-radio-button [value]="picture">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Picture number: {{picture}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="/assets/RoomImage.jpg" alt="Picture of room">
                        </mat-card>
                    </mat-radio-button>
                </mat-label>
            }
        </mat-radio-group>
    </mat-form-field>
    
    <div class="row">
        <button mat-raised-button type="submit" class="submitButton">submit</button>
    </div>
</form>