.wrapper{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.upperRowItems{
    flex-grow: 1;
    margin-left: 1.5%;
    margin-right: 1.5%;
    //border-style: solid;
    display: flex;
    justify-content: center;
    //align-items: center;
}

.submitButton{
    width: 50%;
    height: 75%;
    font-size: 130%;
}


.pictureSelector{
    width: 90%;
    // border-radius: 5px;
    // border-style: solid;
    background-color: #3f4948;
}

.pictureContainer{
    //padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.pictureTitle{
    text-align: center;
    margin: auto;
}

.pictureItem{
    margin: 1%;
    display: flex;
    justify-content: center;
    //width: 20%;
}

::ng-deep .mdc-radio {
    display: none !important; /* Use !important to ensure override */
}