<div class="wrapper">
    <div class="row">
        <h2 mat-dialog-title>Would you like to delete this part?</h2>
    </div>
    <div class="row">
        <mat-dialog-content>
            <p>Id: {{this.part.id}}</p>
            <p>Name: {{this.part.name}}</p>
        </mat-dialog-content>
    </div>
    <div class="row">
        <mat-dialog-actions>
            <button mat-flat-button (click)="onCancel()">Cancel</button>
            <button mat-flat-button (click)="onSubmit()">Delete</button>
        </mat-dialog-actions>
    </div>
</div>

